Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element: Hotels -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <!-- One or more Hotel elements -->
        <xs:element name="Hotel" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <!-- Order matters: Name, Phone(s), Address -->
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Phone" type="xs:string" maxOccurs="unbounded" minOccurs="1" />
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string"/>
                    <xs:element name="Street" type="xs:string"/>
                    <xs:element name="City" type="xs:string"/>
                    <xs:element name="State" type="xs:string"/>
                    <xs:element name="Zip" type="xs:string"/>
                    <xs:element name="NearestAirport" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>

            <!-- Rating attribute is OPTIONAL.
                 Some hotels will have it, but not all.
                 This matches the assignment's requirement to have an optional attribute. :contentReference[oaicite:13]{index=13}
            -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
